{% extends "layout.html" %}
{% block  Navbar %}
    <!-- Navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/"> <h4> Transfermarkt </h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                </div>
            </div>
        </nav>
    </header>
{% endblock Navbar %}

{% block teamFilter %}
<div class="content-section">
        <form action="" method="post">
        {{ teamFilter.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-3">Takımları Filtrele</legend>
        <p>Filtreleme Seçenekleri</p>
        <div class="form-group">
            {{ teamFilter.team_name.label(class="form-control-label") }}
            {{ teamFilter.team_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ teamFilter.cup_num.label(class="form-control-label") }}
            {{ teamFilter.cup_num(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ teamFilter.total_val.label(class="form-control-label") }}
            {{ teamFilter.total_val(class="form-control form-control-lg") }}
        </div>
        </fieldset>
        <div class="form-group">
            {{ teamFilter.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock teamFilter %}

{% block playerFilter %}
<div class="content-section">
        <form action="" method="post">
        {{ playerFilter.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-3">Oyuncuları Filtrele</legend>
        <p>Filtreleme Seçenekleri</p>
        <div class="form-group">
            {{ playerFilter. player_name.label(class="form-control-label") }}
            {{ playerFilter. player_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ playerFilter.player_value.label(class="form-control-label") }}
            {{ playerFilter.player_value(class="form-control form-control-lg") }}
        </div>
        </fieldset>
        <div class="form-group">
            {{ playerFilter.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock playerFilter %}

{% block table %}
<div class="container">
    <table id="table" border = "3">
        <thead>
            <tr>
                <th  data-field="İsim">İsim</th>
                <th  data-field="Şehir">Şehir</th>
                <th  data-field="Stadium İsmi">Stadium İsmi</th>
            </tr>
        </thead>
        <tbody>
            {% for row in teams %}
            <tr>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
                <td>{{ row }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock table %}
