{% extends "layout.html" %}
{% block  Navbar %}
    <!-- Navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/"> 
                    <h4 class="text-info"> Transfermarkt_v2 </h4>
                </a>
                </div>
            </div>
        </nav>
    </header>
{% endblock Navbar %}

{% block teamFilter %}
<div class="content-section">
        <form action="/" method="post">
    
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Takımları Filtrele</legend>
            <p>Filtreleme Seçenekleri</p>
            <div class="form-group row">
                {{ teamFilter.team_name.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.team_name(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.cup_num.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.cup_num(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.total_val.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.total_val(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.home_towns.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.home_towns(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.team_submit(class="col btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
    <form action="/" method="post">
        <fieldset class="form-group">
            <div class="form-group row">
                {{ teamFilter.team_reset(class="col btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>

{% endblock teamFilter %}

{% block playerFilter %}
<div class="content-section">
        <form action="/" method="post">
        {{ playerFilter.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Oyuncuları Filtrele</legend>
            <p>Filtreleme Seçenekleri</p>
            <div class="form-group row">
                {{ playerFilter.player_name.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_name(class="col ml-1 form-control-sm") }}
            </div>
            
            <div class="form-group row">
                {{ playerFilter.player_team.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_team(class="col ml-1 form-control-sm") }}
            </div>

            <div class="row">
                <div class="col"><p>Yaş</p></div>
                <div class="col">
                    <div class="form-group col">
                        {{ playerFilter.player_age_min.label(class="col form-control-label") }}
                        {{ playerFilter.player_age_min(class="col form-control-sm") }}
                    </div> 
                    <div class="form-group col">
                        {{ playerFilter.player_age_max.label(class="col form-control-label") }}
                        {{ playerFilter.player_age_max(class="col form-control-sm") }} 
                    </div>
                </div>    
            </div>
            <div class="form-group row">
                {{ playerFilter.player_submit(class="col btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
    <form action="/" method="post">
        <fieldset class="form-group">
            <div class="form-group row">
                {{ playerFilter.player_reset(class="col btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock playerFilter %}

{% block table %}
<div class="container">
    {% if table_elements[1] == True %}
        <table id="table" border = "3">
            <thead>
                <tr>
                    <th  data-field="İsim">İsim</th>
                    <th  data-field="Şehir">Şehir</th>
                    <th  data-field="Stadium İsmi">Stadium İsmi</th>
                    <th  data-field="Kupa Sayısı">Kupa Sayısı</th>
                    <th  data-field="Toplam Piyasa Değeri">Toplam Piyasa Değeri</th>
                </tr>
            </thead>
            <tbody>
                {% if table_elements[0] != None %}
                    {% for row in table_elements[0] %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    {% endif %}    
    {% if table_elements[1] == False %}
        <table id="table" border = "3">
            <thead>
                <tr>
                    <th  data-field="İsim Soyisim">İsim Soyisim</th>
                    <th  data-field="Takım">Takım</th>
                    <th  data-field="Uyruk">Uyruk</th>
                    <th  data-field="Yaş">Yaş</th>
                    <th  data-field="Piyasa Değeri">Piyasa Değeri</th>
                    <th  data-field="Pozisyon">Pozisyon</th>
                </tr>
            </thead>
            <tbody>
                {% if table_elements[0] != None %}
                    {% for row in table_elements[0] %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock table %}


