{% extends "layout.html" %}
{% block  Navbar %}
    <!-- Navbar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/"> 
                    <h4 class="text-info"> Transfermarkt_v2 </h4>
                </a>
                </div>
            </div>
        </nav>
    </header>
{% endblock Navbar %}

{% block teamFilter %}
<div class="content-section">
        <form action="\" method="post">
        {{ teamFilter.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Takımları Filtrele</legend>
            <p>Filtreleme Seçenekleri</p>
            <div class="form-group row">
                {{ teamFilter.team_name.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.team_name(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.cup_num.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.cup_num(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.total_val.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.total_val(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.home_towns.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ teamFilter.home_towns(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ teamFilter.team_submit(class="col btn btn-outline-info") }}
            </div>
        </fieldset>

    </form>
</div>
{% endblock teamFilter %}

{% block playerFilter %}
<div class="content-section">
        <form action="\" method="post">
        {{ playerFilter.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3">Oyuncuları Filtrele</legend>
            <p>Filtreleme Seçenekleri</p>
            <div class="form-group row">
                {{ playerFilter.player_name.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_name(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ playerFilter.player_surname.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_surname(class="col ml-1 form-control-sm") }}
            </div>
            
            <div class="form-group row">
                {{ playerFilter.player_team.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_team(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ playerFilter.player_country.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_country(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ playerFilter.player_age.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_age(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ playerFilter.player_value.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_value(class="col ml-1 form-control-sm") }}
            </div>

            <div class="form-group row">
                {{ playerFilter.player_pos.label(class="col-lg-5 col-md-7 form-control-label") }}
                {{ playerFilter.player_pos(class="col ml-1 form-control-sm", rows=4, multiple=True, size=4) }}
            </div>
            <div class="form-group row">
                {{ playerFilter.player_submit(class="col btn btn-outline-info") }}
            </div>
        </fieldset>

    </form>
</div>
{% endblock playerFilter %}

{% block table %}
<div class="container">
    <table id="table" border = "3">
        <thead>
            <tr>
                <th  data-field="İsim">İsim</th>
                <th  data-field="Şehir">Şehir</th>
                <th  data-field="Stadium İsmi">Stadium İsmi</th>
            </tr>
        </thead>
        <tbody>
            {% if teams != None %}
                {% for row in teams %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock table %}
